<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="1G216PTNhaDoNoiThatOnlineConnectionString"
      connectionString="workstation id=1G216PTNhaDoNoiThatOnline.mssql.somee.com;packet size=4096;user id=gtwopthnha_SQLLogin_1;pwd=dhezsnt7zl;data source=1G216PTNhaDoNoiThatOnline.mssql.somee.com;persist security info=False;initial catalog=1G216PTNhaDoNoiThatOnline"
      providerName="System.Data.SqlClient" />-->
 
   <!--offline-->
    
   <add name="1G216PTNhaDoNoiThatOnlineConnectionString" connectionString="Data Source=THANHNHA\SQL09;Initial Catalog=1G216PTNhaDoNoiThatOnline;Persist Security Info=True;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  <customErrors mode="Off"  defaultRedirect="Homepage.aspx"/> <!--khi xảy ra lỗi tự chuyển đến homepage-->
  </system.web>
  
    <system.webServer>
    <defaultDocument>
    <files>
      <add value="Homepage.aspx"/> <!--xác định homepage mặc định của website là Homepage.aspx-->  
    
    </files>  
    
    </defaultDocument>
      <directoryBrowse enabled="false"/> <!--thiết lập lquan bảo mật: ko cho phép NSD truy xuất thư mục của app trên host-->
    </system.webServer>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/> <!--thiết lập xử lí lỗi bảo mật khi dùng công cụ login/toolbox-->
  </appSettings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>